body {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

#canvas {
    background-color: gray;

    position: fixed;
    top: 0;
    left: 0;
    display: block;
}

.icon {
    overflow: hidden;
    fill: currentColor;
    transition: all 0.3s;
    vertical-align: -0.15em;
}

.icon.active {
    stroke: darkorange;
    fill: darkorange;
    transform: scale(1.2);
}

.actions {
    position: fixed;
    top: 0;
    left: 0;
}

.actions svg {
    width: 25px;
    height: 25px;
    margin: 10px 11px;
}

.actions #brush {
    display: none;
}

.actions.x #brush {
    display: inline-block;
}

.actions.x #eraser {
    display: none
}

.colors {
    position: absolute;
    top: 100px;
    left: 0;
    padding: 10px;
}

.colors li {
    width: 25px;
    height: 25px;
    margin: 15px 0;
    border-radius: 50%;
    transition: all 0.3s;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .5);
}

ol > .active {
    transform: scale(1.5);
}

.colors .black {
    background: black;
}

.colors .red {
    background: red;
}

.colors .blue {
    background: blue;
}